body
{
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #a06690;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app
{
  -webkit-box-shadow: 0px 10px 78px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 78px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 78px -10px rgba(0,0,0,0.75);
  width: 725px;
  margin: 0 auto;
}

form
{
  margin: 0px auto;
  padding: 10px;
  background: linear-gradient(to top, #fff3a2 0%, #fef9d7 100%);
  border: 2px solid;
  border-color:#fef9d7;
  border-top: none;
  max-width: 700px;
}

button
{
  font-family: 'Montserrat', sans-serif;
  max-width: 200px;
  padding: 10px 20px;
  margin-top: 20px;
  color: #8a4677;
  background-image: linear-gradient(to top, #d299c2 0%, #fdd0f4 100%);
  border: 1px #fdd0f4 solid;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
  font-weight: 500;
}

button:hover
{
  transform: scale(0.9);
  background: #fef9d7;
  border-color: #d299c2;
}

button:active
{
  transform: scale(0.8);
}

h3
{
  text-align: center;
}

